
.home > .hero {
    margin-top:10rem;
}

.home > .hero > img{
    position:fixed;
    left:0;
    top:0;
    opacity:0.7 !important;
}

.home > .hero > h1{
    color:#2c3e50 !important;
}

.home > .hero > .huawei {
    display:inline-block;
    background:rgba(255,255,255,0.5)
    padding:1rem 8rem;
    border-radius:8px;
    color:#2c3e50;
}

.home > .hero > .huawei > .iconfont {
    font-size:1rem;
}

.footer {
    position:fixed;
    bottom:0;
    border-top:none !important;
    width:100%;
    text-align:center;
}

.footer > span:first-child {
    display:none;
}

.home > .features {
    border:none !important;
}
